mixin _add(color)
    .input-group
        input.form-control(type='text' placeholder="Вставь в меня что-нибудь...")
        .input-group-append
            button.btn(class="btn-"+color type='button') Вставить
