mixin _search()
    form.form-inline#search
        input.form-control.mr-sm-2(type='search' placeholder='Найди во мне изюминку...')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Найти
