@import "./_sass.sass"


.wrapper
  display: flex
  width: 100vw
  height: 100vh
  overflow: hidden
  flex-flow: row wrap
  align-items: stretch
  justify-content: stretch
.wrapper__
  width: 50%
  flex-shrink: 1
  //height: 100%
.wrapper__header
  width: 100%
.wrapper__green
  border-right: 1px solid black
.wrapper__red


.tableList
  display: flex
  flex-flow: column nowrap
  max-height: calc(100vh - 70px)
.tableList__list
  flex-grow: 1
  overflow: auto
.tableList__add
  padding: 0.5em




