extends ./_html
block body
    .wrapper
        .wrapper__header
            +_header()

        .wrapper__.wrapper__green.tableList
            .tableList__list
                +_table("Green", "success")#green
            .tableList__add.bg-dark
                +_add("success")#add_green


        .wrapper__.wrapper__red.tableList
            .tableList__list
                +_table("Red", "danger")#red
            .tableList__add.bg-dark
                +_add("danger")#add_red
